@model SistemaEscolar.Models.Permiso
@{
 ViewData["Title"] = "Editar permiso";
 Layout = "/Views/Shared/_Layout.cshtml";
}
<h3>Editar permiso</h3>
<form method="post" action="/Seguridad/Permisos/editar/@Model.Id">
 @Html.AntiForgeryToken()
 <div class="mb-3">
 <label class="form-label">Código</label>
 <input class="form-control" name="Codigo" value="@Model.Codigo" />
 </div>
 <div class="mb-3">
 <label class="form-label">Descripción</label>
 <input class="form-control" name="Descripcion" value="@Model.Descripcion" />
 </div>
 <button class="btn btn-primary" type="submit">Guardar</button>
</form>