@{
    ViewBag.Title = "Usuarios";
    Layout = "/Views/Shared/_Layout.cshtml";
}
<h2>Usuarios</h2>
<table class="table table-bordered" id="tablaUsuarios">
    <thead class="table-dark">
        <tr>
      <th>Id</th>
   <th>Nombre</th>
   <th>Email</th>
   <th>Identificación</th>
 <th>Roles</th>
   </tr>
    </thead>
    <tbody></tbody>
</table>
@section Scripts {
    <script src="~/js/usuarios.js"></script>
}