@page
@model Sistema_Escolar.Pages.Instrumentos.RegistrarAsistenciaModel
@{
 ViewData["Title"] = "Registrar Asistencia";
}

<h1>Registrar Asistencia - @Model.Instrumento.Nombre</h1>
<form method="post">
 <input type="hidden" asp-for="Instrumento.Id" />
 <table class="table">
 <thead>
 <tr>
 <th>Estudiante</th>
 <th>Presente</th>
 <th>Observación</th>
 </tr>
 </thead>
 <tbody>
 @for (int i =0; i < Model.Asistencias.Count; i++)
 {
 <tr>
 <td>@Model.Asistencias[i].MatriculaId</td>
 <td><input type="checkbox" asp-for="Asistencias[@i].Presente" /></td>
 <td><input class="form-control" asp-for="Asistencias[@i].Observacion" /></td>
 </tr>
 }
 </tbody>
 </table>
 <button class="btn btn-primary">Guardar</button>
</form>